<h1>{{tituloHome | uppercase}}</h1>
<br>
<div align="center"><img src="assets/img/porta2.jpg"height="200" width="360"></div>
<br><p>En Colombia se comenzó a practicar una década después hacia finales de los 80, las primeras bicicletas llegaban por encargo o porque eran traídas por sus dueños que comenzaron a abrir algunas de las rutas conocidas en la calera, se practicaba de manera recreativa y no fué sino hasta mediados de los noventa que se comenzó a organizar las primeras válidas de este deporte.

  Es uno de los deportes que más fuerza ha tomado en los últimos años, gracias a que es una actividad que se puede practicar en grupo, familia o individual. El ciclo montañismo o más conocido como Mountain Bike se trata de travesías en bicicletas de montaña por campo abierto en terreno escarpado, bosques, montañas y todo tipo de escenarios naturales al aire libre.

  El ciclo montañismo exige a quien lo practica un buen estado físico así como preparación mental, alimenticia rica en proteínas, carbohidratos y alimentos que proporcionen energía y fibra. La hidratación es fundamental dentro de los hábitos de entrenamiento, competencia o recreación del deporte. Por otro lado es importante en lo posible no salir solo/a puesto que un acompañante es necesario por cualquier eventualidad física, mecánica, climática entre otras que se pueden presentar, y contar con el equipo básico de mecánica y seguridad; así como un mapa de la ruta.

  Tan importante como es la preparación y el cuidado físico del ciclo montañista lo es y lo exige el buen mantenimiento de la bicicleta, una revisión mecánica antes de cada travesía es muy importante como medida preventiva y asi evitar contratiempos o accidentes,  contar  con muy buenos o por lo menos los conocimientos básicos en mecánica</p>


